
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h3>Send email</h3>

@if (ViewBag.oke != null)
{
   <div class="alert alert-success">@ViewBag.oke</div>
}else{
        <div class="alert alert-danger">Email không tồn tại
            <a asp-action="Login">Quay về trang đăng nhập</a>
        </div> 
}