
@{
    var thongtin = ViewData["thongtin"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLBH_project</title> 
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
        </li>
                        <li class="nav-item">
                        <div class="btn-group">
              <button type="button" class="btn dropdown-toggle"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quản lý nhân sự
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item text-dark" asp-controller="employees" asp-action="Index" >Nhân Viên</a>
                <a class="dropdown-item text-dark" asp-controller="roles" asp-action="Index">Chức vụ</a>

              </div>
            </div>

            </li> 
            <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Quản lý Sản phẩm
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item text-dark" asp-controller="productdetails" asp-action="Index" >Sản phẩm chi tiết</a>
                <a class="dropdown-item text-dark" asp-controller="products" asp-action="Index">Sản phẩm</a>
                <a class="dropdown-item text-dark" asp-controller="categories" asp-action="Index">Thể loại</a>

              </div>
            </div>
            </li> 


                      
                <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Quản lý Khách hàng
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item text-dark" asp-controller="customers" asp-action="Index" >Quản lý khách hàng</a>
            <a class="dropdown-item text-dark" asp-controller="Home" asp-action="HienThiDonHang">Đơn Hàng</a>
            <a class="dropdown-item text-dark" asp-controller="Home" asp-action="Chitietdonhang">Chi tiết Đơn Hàng</a>
          </div>
        </div>
        </li>  
    </ul>
    <form class="form-inline my-2 my-lg-0"> 
      <div class="bagcart">
            @await Component.InvokeAsync("BagCart")
      </div>

        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">@thongtin</a>
    </form>
  </div>
</nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - QLBH_project - <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
